*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/index/img2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

h1{
    margin: 30px 100px;
    color: #FDF6EC;
    font-family: 'DM Sans';
    font-size: 32px;
}

.address p{
    font-family: 'Playfair Display';
    font-size: 16px;
    margin: 30px 150px;
    color: #FDF6EC;
}

a{
    font-family: 'Playfair Display';
}

.logo{
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: serif;
}