body {
    font-family: sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background-color: #FDF6ec;
    background-image:url(/assets/images/login-signup/image.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container {
    background-color: #FDF6ec;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 3px 5px;
    text-align: center;
    width: 430px;
    height: 550px;
    margin-left: 20px ;
}
.h1 {
    margin-bottom: 20px;
    color: white
}
.form-group {
    margin-bottom: 30px;
    text-align: left;
    padding: 8px;
    display: flex;
    gap: 4px;
}
.form-group label {
    display: flex;
margin-bottom: 20px;
color: white;
font-weight: bold;
}

.form-group input[type="text"]
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}
.input-box div {
    color: #FDF6ec;
    margin-right: 10px;
}
.forgot-password {

    display: inline;
    text-align: left;
    font-size: 10px;
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
}

.label {
    margin-top: 20px;
    font-size: 12px;
    color: grey;
    text-align: left;
}